<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>Wizards</h1>
    <div *ngFor="let wizard of wizards" class="nhsuk-grid-row nhsuk-panel-group">
      <div class="nhsuk-grid-column-full nhsuk-panel-group__item">
        <div class="nhsuk-panel">
          <a [routerLink]="wizard.url"><h3>{{wizard.name}}</h3></a>
          <p>{{wizard.description}}</p>
          <ol>
            <li *ngFor="let step of wizard.descriptionFlow">{{step}}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
