<app-go-back *ngIf="step > 0" (click)="step = step - 1"></app-go-back>
<div [ngSwitch]="step">
  <div *ngSwitchDefault>
    <app-order-selection [menu]="menu" [orderItems]="order.items"></app-order-selection>
  </div>
  <div *ngSwitchCase="1">
    <app-order-out-info [orderDetails]="order.details" [collect]="true"></app-order-out-info>
  </div>
  <div *ngSwitchCase="2">
    <app-confirm [request]="order"></app-confirm>
  </div>
  <div *ngSwitchCase="3">
    <app-end [request]="order"></app-end>
  </div>
</div>
<button *ngIf="step < maxSteps" class="nhsuk-button" type="button" (click)="step= step + 1">Next</button>
<button *ngIf="step === maxSteps" class="nhsuk-button" type="button" routerLink="/wizards">Finish</button>
