<h1>Summary</h1>
<dl *ngIf="!!request" class="nhsuk-summary-list">
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Full Name</dt>
    <dd class="nhsuk-summary-list__value">{{request.details.firstName}} {{request.details.lastName}}</dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Mobile Number</dt>
    <dd class="nhsuk-summary-list__value">{{request.details.mobileNumber}}</dd>
  </div>
  <div *ngIf="request.getType() === 'ORDER'" class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Address</dt>
    <dd class="nhsuk-summary-list__value">{{getAddress()}}</dd>
  </div>
  <div *ngIf="request.getType() === 'BOOKING'" class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Date</dt>
    <dd class="nhsuk-summary-list__value">{{getDate()}}</dd>
  </div>
  <div *ngIf="request.getType() === 'BOOKING'" class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Number of People</dt>
    <dd class="nhsuk-summary-list__value">{{getNumberOfPeople()}}</dd>
  </div>
  <div *ngIf="!!request.items && request.items.length > 0" class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Items</dt>
    <dd class="nhsuk-summary-list__value">
      <p *ngFor="let item of request.items">{{item.itemName}} x {{item.quantity}}</p>
    </dd>
  </div>
  <div *ngIf="request.getType() === 'ORDER'" class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Payment Details</dt>
    <dd class="nhsuk-summary-list__value">
      <p><strong>Card Number</strong> {{getPaymentDetails().cardNumber}}</p>
      <p><strong>Expiry Date</strong> {{getPaymentDetails().expiryDate}}</p>
      <p><strong>Name on Card</strong> {{getPaymentDetails().nameOnCard}}</p>
    </dd>
  </div>
</dl>
<button class="nhsuk-button" type="submit">
  Confirm
</button>
